<h1 class="name"><%= @user.username %></h1>
	<a class="create" href="/logout"><p>Logout</p></a> 
	<a class="create" href="/boards/new"><p>Create a board</p></a>
	<a class="create" href="/images/new"><p>Upload an image</p></a>

<p class="titles">Boards</p>

<% @user.boards.each do |board| %>
  <li><a href="/boards/<%= board.id %>"><%= board.name %></a></li>
 <% end %>
 <br></br>


<p class="titles">All Board Images</p>

	<% @user.boards.each do |board| %>
	<%board.images.each do |image| %>
		
			<li>
				<%= image.image_name %> </p>
				<br></br>
				<img class="image" src="../image/<%=image.filename%>">
				<br></br>
				<br></br>
			</li>

		<% end %>
	<% end %>

<br></br>

	<p class="titles">Uploaded images</p>
	<%@user.images.each do |image|%>
	<a href="/images/<%=image.id%>"><img class="image" src="../image/<%=image.filename%>"></a>
	<p class="image_name"> <%= image.image_name %> </p>
	<p class="image_name"> <%= image.description %> </p>
	<br></br>
<% end %> 





