<p class="titles"><%= @board.name %></p>
<p class="titles"><%= @board.description %></p>

<div class="board_images">
<p><% @board.images.each do |image| %>
<img class="image" src="../image/<%=image.filename%>">
<br></br>
<p class="image_name"> <%= image.image_name %> </p>
<form method="POST" action="/boards/<%=@board.id%>/image/edit">
	<input type="hidden" name='image_id' value="<%=image.id%>">
	<input type="submit" value="bye felicia">
</form>
<% end %> 


<a href="/boards/<%=@board.id%>/edit"><p>Edit</p></a> 

<a href="/boards/<%=@board.id%>/image"><p>Add an Image</p></a>

<a href="/boards/<%=@board.id%>/delete"><p>Delete</p></a>

<a href="/users/<%= @user.slug %>"><p>Home</p></a>



