<p><%= @board.name %></p>
<p><%= @board.description %></p>
<p><% @board.images.each do |image| %>
<a href="/images/<%=image.id%>"><img src="../image/<%=image.filename%>"></a>
<br></br>
<%= image.image_name %>
<br></br>
<% end %>


<a href="/boards/<%=@board.id%>/edit"><p>Edit</p></a>
<!-- <form method="POST" action="/boards/<%=@board.id%>/edit">
<button type="submit" value="edit">Edit</button>
</form> -->

<p><a href="/boards/<%=@board.id%>/delete">Delete</a></p>
<!-- <form method="POST" action="/boards/<%=@board.id%>/delete">
<button type="submit" value="delete">Delete</button>
</form> -->
<p><a href="/boards/<%=@board.id%>/image">Add an Image</a></p>

<a href="/users/<%= @user.slug %>"><p>Home</p></a>

<!-- Gotta come back and add the images the images that are associated with this board
@board.image -->
<!-- <p>Home</p> -->