<p><%= @board.name %></p>
<p><%= @board.description %></p>

<a href="/boards/<%=@board.id%>/edit"><p>Edit</p></a>
<!-- <form method="POST" action="/boards/<%=@board.id%>/edit">
<button type="submit" value="edit">Edit</button>
</form> -->

<a href="/boards/<%=@board.id%>/delete"><p>Delete</p>
<!-- <form method="POST" action="/boards/<%=@board.id%>/delete">
<button type="submit" value="delete">Delete</button>
</form> -->
<p>Add an Image</p>

<a href="/users/<%= @user.slug %>"><p>Home</p></a>

<!-- Gotta come back and add the images the images that are associated with this board
@board.image -->
<!-- <p>Home</p> -->