<div class="board_images_grid">
<img class="image" src="../image/<%=@image.filename%>">

<p class="image_name"><%= @image.image_name %></p>

<p class="image_name"><%= @image.description %></p>
</div>

<br></br>

<a href="/images/<%=@image.id%>/edit"><p>Edit</p></a>

<a href="/images/<%=@image.id%>/edit">Add to an existing board</p></a>

<p><a href="/images/<%=@image.id%>/delete">Delete</a></p>

<a href="/users/<%= @user.slug %>"><p>Home</p></a>

