<div class="panel panel-danger">
 <div class="panel-heading">
   <h1 class="panel-title"><%= @image.image_name %></h1>
   <br>
   <h1 class="panel-title"><%= @image.description %></h1>
 </div>
 <div class="panel-body">
	<img class="col-sm-4" src="../image/<%=@image.filename%>">
 </div>

 <a href="/images/<%=@image.id%>/edit" class="btn btn-primary">Edit</a>&nbsp&nbsp&nbsp
<a href="/images/<%=@image.id%>/delete" class="btn btn-danger">Delete</a>&nbsp&nbsp&nbsp
<a href="/users/<%= @user.slug %>" class="btn btn-default">Home</a>&nbsp&nbsp&nbsp
 <br>
 <br>
</div>




